* {
  box-sizing: border-box;
}

/* --------- responsive header -------- */
.show-links-button {
  display: none;
}

.hide-links {
  height: fit-content;
}
.hide {
  display: none !important;
}
.show-links {
  height: fit-content !important;
  box-shadow: 0px -10px 10px -9px grey inset;
  padding-bottom: 10px;
}

@media (min-width: 1000px) {
  .links li object {
    width: 35px;
  }
  .links li a {
    font-size: 1rem;
  }
}
@media (max-width: 800px) {
  main {
    display: flex;
    flex-direction: column;
  }
  .show-links-button {
    display: inline-block;
  }
}
/* ============= details page styling ============= */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* grid-template-rows: auto; */
  gap: 15px;
  margin: 30px 40px;
}
.container > div:not(:nth-child(2)) {
  box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 40%);
  border-radius: 6px;
  height: fit-content;
  /*min-height: 200px;
  */
}

/* =========== book images section ================ */
.book-image {
  display: flex;
  flex-direction: column;
}
.big-img {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.big-img img {
  width: 100%;
  cursor: pointer;
}
.small-imgs {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 15px;
  padding: 0 10px 5px;
  width: 100%;
}
.small-imgs .img-container {
  overflow: hidden;
  padding: 2px 4px 0px;
  border: 2px rgb(0, 153, 255) solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.small-imgs img {
  max-width: 100%;
}

.img-slider-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.452);
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-container {
  width: fit-content;
  overflow: hidden;
  position: relative;
}
.img-container > img {
  border-radius: 15px;
  width: 100%;
}
.img-slider-container .buttons {
  width: 103%;
  height: fit-content;
  position: absolute;
  left: -7px;
  top: 45%;
  display: flex;
  justify-content: space-between;
}
.img-slider-container .buttons img {
  width: 40px;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s;
}
.img-slider-container .buttons img:hover {
  background-color: grey;
}
.img-view {
  position: absolute;
  width: 45%;
  border-radius: 15px;
}
@media (min-width: 900px) {
  .img-slider-container .buttons img {
    width: 50px;
  }
}
@media (max-width: 900px) {
  .img-view {
    width: 65%;
  }
}
@media (max-width: 700px) {
  .img-view {
    width: 80%;
  }
}
#exit {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px !important;
  cursor: pointer;
  transition: 0.3s;
  background-color: grey;
  padding: 5px;
  border-radius: 10%;
}
#exit:hover {
  background-color: red;
}
.hide {
  display: none;
}

/* ========= book info section =========== */
.book-info a {
  color: rgb(0, 153, 255);
}

.price {
  color: red;
  display: flex;
  justify-content: start;
  align-items: flex-end;
}
.price p {
  margin: 0;
}
.price p:first-child {
  font-size: 1.3rem;
  font-weight: bold;
}
.price p:last-child {
  margin-bottom: 4px;
  font-size: 0.8rem;
}

.title {
  margin: 0;
}
.sell-unit,
.type-number {
  text-align: end;
  margin: 0;
  color: #aaa;
  font-size: 0.85rem;
}

.reviews {
  width: 100%;
  font-size: 0.8rem;
  /* margin-block: 7px; */
}
.sell-unit ~ p {
  margin: 0;
  text-align: end;
  margin-top: 2px;
  margin-bottom: 4px;
}
.pBook,
.eBook {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}
.check {
  display: flex;
  align-items: center;
  gap: 7px;
}
.available-forms {
  margin-top: 10px;
}
.available-forms > p {
  margin: 0 0 5px;
  color: #ccc;
  font-size: 0.8rem;
}
.available-forms label {
  color: #aaa;
  font-size: 0.8rem;
}
.available-forms input[type="radio"] {
  width: 22px;
  height: 22px;
}
.available-forms .price p:first-child {
  font-size: 1rem;
  font-weight: bold;
}
.available-forms .price p:last-child {
  margin-bottom: 4px;
  font-size: 0.6rem;
}

/* ============ add to cart section ============ */
.add-to-cart {
  padding: 15px;
}
.add-to-cart .note {
  display: flex;
  flex-direction: column;
  background-color: #fff9eb;
  border-inline-start: #fdd214 3px solid;
  margin-block: 10px;
  padding-inline-start: 10px;
  padding-block: 6px;
  font-size: 1rem;
  /* margin-inline-start: 60px; */
  border-radius: 3px;
  width: 100%;
}
.add-to-cart .note p {
  margin-bottom: 0;
  margin-top: 3px;
}
.add-to-cart .note a {
  color: rgb(0, 153, 255);
}

.add-to-cart .add {
  display: flex;
  justify-content: space-between;
  /* gap: 8px; */
}
.add-to-cart .add-item {
  width: 78%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d40b0e;
  color: white;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.add-to-cart .add-item:hover {
  background-color: #860305;
  cursor: pointer;
}
#amount {
  width: 19%;
  background-color: #eff2f7;
}
#amount:focus-visible {
  outline: none;
}
.add-to-cart .add-item,
#amount {
  border: none;
  padding: 5px;
  font-weight: bold;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.add-to-cart .features {
  background-color: #f9fafc;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  font-size: 0.8rem;
}
.add-to-cart .features .feature {
  display: flex;
  align-items: center;
  width: 47%;
  margin-block: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.add-to-cart .feature:last-child {
  width: 100%;
}

.add-to-cart .features .feature img:first-child {
  width: 14px;
  height: 14px;
}
.add-to-cart .features .feature img:last-child {
  width: 10px;
  height: 10px;
}
.add-to-cart .features .feature .text {
  margin-left: 5px;
  margin-right: 5px;
}

.options {
  display: flex;
  justify-content: space-between;
}
.options .option {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
  padding: 7px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 40%);
  font-weight: bold;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.options .option:hover {
  background-color: #eee;
}
.options .option img {
  width: 15px;
}

/* ========= about the book =========== */
main .about {
  background-color: #f9fafc;
  padding: 30px;
  border-block: #ddd 1px solid;
  margin-top: 0;
}
/* ========== books specifications ========= */
.specs {
  border-bottom: solid 1px #bbb;
  padding-bottom: 20px;
}
.specs ul li {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding-inline-start: 30px;
  font-size: 1.2rem;
  color: #444;
}
.specs ul {
  height: 100px;
  overflow: hidden;
  margin-bottom: 0;
}
.show-ul {
  height: fit-content !important;
}
.shadow {
  box-shadow: 0px -13px 24px -7px rgb(0 0 0 / 28%) inset,
    0px 5px 21px -7px rgb(0 0 0 / 20%);
}
.specs ul li .spec {
  width: 140px;
}
.specs ul li .value {
  text-align: start;
  font-weight: bold;
}
.show-details {
  text-align: end;
  color: rgb(0, 153, 255);
  width: 100%;
  text-align: end;
  padding-inline-end: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
}
.show-details:hover {
  color: black;
}

/* ======== reviews section ========== */
.client-reviews {
  margin: 15px 35px;
}
.head {
  display: flex;
  align-items: center;
}
.head .write-a-review {
  border: none;
  padding: 8px 10px;
  background-color: #0052cc;
  color: white;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  margin-inline-start: 20px;
}
.reviews {
  height: 230px;
  margin-bottom: 20px;
  overflow: hidden;
}
.review p {
  margin: 0;
}
.review .details {
  display: flex;
  justify-content: space-between;
  background-color: #f9fafc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #aaa;
  padding: 0px 10px 10px;
}
.review .text {
  background-color: #f9fafc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
  font-weight: bold;
}
.review .by {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}
.reviews .by .user {
  margin-inline-start: 6px;
}
.review .opinion {
  color: #aaa;
  padding: 5px 10px;
}

/* ====== show reviews ========= */
.show-reviews {
  height: fit-content;
}
.show-reviews-button {
  width: 100%;
  border: none;
  text-align: end;
  background-color: transparent;
  color: rgb(0, 153, 255);
  margin-top: 70px;
  border-bottom: 1px solid #ccc;
  font-size: 0.9rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}
.show-reviews-button:hover {
  /* color: rgb(0, 88, 146); */
  background-color: #eee;
}

/* ========== similar products section ========== */
.similar-products {
  margin: 0 30px;
}
.similar-products h2 {
  margin-bottom: 5px;
}
.products-container {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  box-shadow: 0px 0px 13px -3px rgb(0 0 0 / 25%);
  border-radius: 5px;
  overflow: hidden;
  padding: 3px 20px;
}
.product img {
  width: 110px;
}
.product .title {
  font-weight: bold;
}
.product .price {
  margin-bottom: 10px;
  margin-top: 20px;
}
