#RewriteEngine On RewriteCond %
#{REQUEST_FILE_NAME} !-d RewriteCond %
#{REQUEST_FILE_NAME} !-f RewriteCond %
#{REQUEST_FILE_NAME} !.(css|js|jpg|jpeg|png|svg|webp)$ RewriteRule ^(.+)$ index.php?url=$1 [QSA,1]
#
##RewriteCond %{REQUEST_FILE_NAME} !-d
#RewriteCond %{REQUEST_FILE_NAME} !-f
#
#RewriteRule ^(.+)$ index.php?url=$1 [QSA,l]

RewriteEngine On

RewriteCond %{REQUEST_FILE_NAME} !-d
RewriteCond %{REQUEST_FILE_NAME} !-f

RewriteCond %{REQUEST_FILE_NAME} !.(css|js|jpg|jpeg|png|svg|webp)$
RewriteRule ^(.+)$ index.php?url=$1 [QSA,l]