/* @font-face {
  font-family: "Tajawal";
      src: url("../font/Tajawal-Regular.ttf") format("ttf"),
      url("../font/Tajawal-Medium.ttf") format("ttf"),
      url("../font/Tajawal-Bold.ttf") format("ttf")
      ;
} */
body {
  direction: rtl;
  margin: 0;
  /* font-family: Tajawal;  */
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  padding: 0;
}
/* ------------------- header -------------------- */
header {
  margin-top: 30px;
}
.show-links-button {
  display: none;
}

.links {
  display: flex;
  justify-content: space-between;
  color: #646465;
  background-color: #f9fafc;
  flex-direction: row-reverse;
  border: 1px #ccc solid;
  margin: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.links li {
  border-right: 1px solid #ccc;
  padding: 4px;
  display: flex;
  align-items: center;
}
.links a {
  padding-right: 10px;
  width: 100%;
}
@media (min-width: 1000px) {
  .links a {
    font-size: 0.9rem;
  }
}
.links object {
  width: 25px;
  padding: 0 10px;
}
.show-links-button {
  display: none;
}
.show-links {
  height: fit-content !important;
  box-shadow: 0px -10px 10px -9px grey inset;
  padding-bottom: 10px;
}
@media (min-width: 800px) and (max-width: 1140px) {
  .links a {
    font-size: 11px;
  }
  .links object {
    padding: 0 5px;
  }
}
@media (min-width: 800px) {
  header {
    margin-top: 0;
  }
}
@media (max-width: 800px) {
  .links object {
    width: 20px;
  }
  .show-links-button {
    display: inline-block;
    border: none;
    cursor: pointer;
    padding: 3px 10px;
    width: fit-content;
    background-color: #eff2f7;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 70px;
    font-size: 1.6rem;
    box-shadow: -2px 1px 4px 0px grey;
    border-bottom-right-radius: 25px;
  }
  .show-links-button:hover {
    background-color: #ccc;
  }
  .links {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    border: none;
    height: fit-content;
    transition: 0.5s;
    overflow: hidden;
    height: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .links li {
    padding: 7px;
    transition: 0.5s;
    /* padding-inline-start: 35%; */
    align-content: flex-start;
  }
  .links li:hover {
    background-color: #b4b5b8;
  }
}
@media screen and (max-width: 600px) {
  header .search-bar {
    padding-top: 10px;
  }
  #show-dialog {
    padding-top: 10px;
  }
}
/*
=========
==== header search-bar 
=========
*/
header .search-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 15px 0;
  position: relative;
}
header .search-bar .cart {
  background-color: #eff2f7;
  padding: 7px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
header .search-bar input[type="search"] {
  border: none;
  margin-right: 10%;
  margin-left: 3%;
  width: 100%;
  padding: 13px;
  background-color: #eff2f7;
  /* position: relative; */
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
header .search-bar .bar-icon-container {
  display: flex;
  align-items: center;
  width: 80%;
}

header .search-bar .searchIcon {
  position: relative;
  top: 1px;
  left: 60px;
}
header .search-bar input[type="search"]:focus-visible {
  outline: none;
}

header .search-bar img {
  max-width: 100%;
}
header .search-bar .img {
  width: 90px;
  cursor: pointer;
}
header .search-bar .cart {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
header .search-bar a {
  position: absolute;
  z-index: 5;
  background-color: transparent;
  width: 100%;
  height: 100%;
}
#counter {
  position: absolute;
  top: -1px;
  left: 71%;
  z-index: 1;
  background: red;
  padding: 1px 3px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
}
/* ------------------- main ------------------------ */
main {
  /* height: 100vh; */
  margin-bottom: 40px;
}
/* =============== browse by section ================ */
.brows-by-section {
  margin: 40px 20px;
  /* width: 100%;
  overflow: hidden; */
}
.sections {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}
.sections::-webkit-scrollbar {
  visibility: hidden;
}
.sections img {
  width: 20px;
  cursor: pointer;
}
.sections .section {
  position: relative;
  left: 0;
  width: 130px;
  height: 115px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 1px 5px -1px rgb(0 0 0 / 40%);
  border-radius: 4px;
  font-weight: bold;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.section img {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}

/* ================ current offers ================ */
.current-offers {
  position: relative;
  margin: 0 50px;
}
.current-offers .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 35px;
}
.current-offers .head p {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem;
}
.current-offers a {
  color: #0052cc;
}
.current-offers .offers {
  display: flex;
  gap: 15px;
  width: 98%;
  height: 420px;
  margin: auto;
  overflow-x: auto;
  padding: 10px;
  position: relative;
}
.current-offers .offers::-webkit-scrollbar {
  visibility: hidden;
}
.current-offers .right-slide-arrow,
.current-offers .left-slide-arrow {
  width: 25px;
  cursor: pointer;
}
.left-slide-arrow {
  transform: rotateY(180deg);
  position: absolute;
  left: -40px;
  top: 45%;
  z-index: 3;
}
.right-slide-arrow {
  position: absolute;
  right: -40px;
  top: 45%;
  z-index: 3;
}
.current-offers .offer {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 30%);
  border-radius: 5px;
  overflow: hidden;
  padding: 0 10px;
  position: relative;
  min-width: 200px;
  align-items: center;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.current-offers .offer:hover {
  transform: scale(1.03);
}
.current-offers .offer > img {
  width: 220px;
  height: 240px;
  cursor: pointer;
}
.current-offers .offer .type {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.current-offers .offer .type span {
  font-weight: bold;
  margin-right: 5px;
}
.current-offers .offer .title {
  font-weight: normal;
  font-size: 1rem;
  text-align: center;
  margin: 0;
  color: #aaa;
  height: 2.5rem;
}
.current-offers .price {
  color: red;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.current-offers .price p {
  margin: 0;
}
.current-offers .price p:first-child {
  font-size: 1.7rem;
  font-weight: bold;
}
.current-offers .price p:last-child {
  margin-bottom: 6px;
  font-size: 0.7rem;
}
.current-offers p.other {
  height: 1rem;
}
.current-offers .options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}
.current-offers .options img:not(:nth-child(2)) {
  width: 25px;
  margin: 0 30px;
  cursor: pointer;
}
.current-offers .options img:nth-child(2) {
  width: 45px;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 50%;
}
.current-offers .options img:nth-child(2):hover {
  box-shadow: 0px 0px 5px 0px #4f4949;
  /* transform: scale(1.05); */
}
/* ==================== footer ===================== */
footer {
  color: #a3a3a3;
  margin-top: 10px;
}
/* footer ul {
  width: 17%;
} */
footer .upper-part {
  background-color: #333;
  padding: 10px 20px;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-around; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}
@media screen and (max-width: 600px) {
  footer .upper-part {
    grid-template-columns: repeat(auto-fill, minmax(140px, auto));
  }
}
footer li {
  padding-top: 8px;
}
footer a {
  color: #a3a3a3;
  font-size: 0.9rem;
}
footer h3 {
  margin: 0;
  border-bottom: 1px solid #595858;
}
footer .posts {
  margin-block: 1rem;
  /* width: fit-content; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .posts .contact-us {
  /* position: absolute;
  bottom: 30px;
  width: 100%; */
}
.contact-us img {
  margin-top: 6px;
  width: 30px;
}
footer .posts form {
  margin-top: 10px;
  background-color: #484848;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
footer input[type="search"] {
  padding: 8px;
  width: 100%;
  border: none;
  background-color: #eff2f7;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
footer input[type="submit"] {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
footer .call-us {
  color: white;
}
footer .lower-part {
  direction: ltr;
  font-size: 0.8rem;
  padding: 15px 35px 30px 0;
  padding-left: 35px;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .lower-part .pay-methods {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 40px;
}
footer .lower-part .img {
  width: 60px;
}
footer .lower-part img {
  max-width: 100%;
}
footer .white-card {
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

@media (max-width: 930px) {
  footer .lower-part {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .lower-part .pay-methods {
    margin-right: 0;
    /* padding: 15px; */
  }
}
@media screen and (max-width: 460px) {
  footer .lower-part .img {
    width: 40px;
    padding: 5px 5px 0;
  }
  footer .pay-methods {
    margin-top: 5px;
  }
}
